<!DOCTYPE HTML>
<html>
<head>
	<title>Exercise Checklist</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

{{{body}}}



<script src="/javascript/jscript.js">


</script>



</body>
</html>